# Define the prefix of container names. This is useful when running multiple projects
COMPOSE_PROJECT_NAME=php-docker-compose

### Paths ######################################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../app

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

### Drivers ####################################################################

# All volumes driver
VOLUMES_DRIVER=local

# All networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ########################################################

# Seelct which docker-compose files to include. If using docker-sync append: `docker-compose.sync.yml` at the end
COMPOSE_FILES=docker-compose.yml

# Change the separator from : to ; for Windows
COMPOSE_PATH_SEPARATOR=:

### PHP Version ################################################################

# Select a PHP version of the Workspace and PHP-FPM containers (Does not apply to HHVM)
# Accepted values: 8.0 - 7.4 - 7.3 - 7.2 - 7.1 - 7.0 - 5.6
PHP_VERSION=8.3

### Environment ################################################################
### production, development ####################################################
### changes install settings and ini files #####################################

APP_ENV=local

################################################################################
########################### Containers Customization ###########################
################################################################################

PUID=1000
PGID=1000

### REDIS ######################################################################
REDIS_PORT=6379

### FOR LOCAL DOCKER COMPOSE #########################################################
INSTALL_COMPOSER=true
INSTALL_XDEBUG=true
INSTALL_PHPREDIS=false
INSTALL_MYSQL=false
INSTALL_ZIP=false
INSTALL_GD=false
NGINX_PHP_UPSTREAM_PORT=9000
FROM_PHP_INI_DIR="./server/php"
TO_PHP_INI_DIR="/usr/local/etc/php"

MYSQL_DATABASE=default
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=default
MYSQL_PASSWORD=default
MYSQL_PORT=3306
MYSQL_VERSION=8.0.35