version: '3.8'

services:
  #default app with php-fpm
  app:
    build:
      context: .
      dockerfile: app_dockerfile
      args:
        APP_ENV: ${APP_ENV}
        PHP_VERSION: ${PHP_VERSION}
        INSTALL_XDEBUG: ${INSTALL_XDEBUG}
        INSTALL_PHPREDIS: ${INSTALL_PHPREDIS}
        INSTALL_COMPOSER: ${INSTALL_COMPOSER}
        INSTALL_MYSQL: ${INSTALL_MYSQL}
        INSTALL_ZIP: ${INSTALL_ZIP}
        INSTALL_GD: ${INSTALL_GD}
        NGINX_PHP_UPSTREAM_PORT: ${NGINX_PHP_UPSTREAM_PORT}
        FROM_PHP_INI_DIR: ${FROM_PHP_INI_DIR}
        TO_PHP_INI_DIR: ${TO_PHP_INI_DIR}
    container_name: ${COMPOSE_PROJECT_NAME}_app
    restart: unless-stopped
    environment:
      DB_HOST: ${COMPOSE_PROJECT_NAME}_mysql
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
      REDIS_HOST: ${COMPOSE_PROJECT_NAME}_redis
    tty: true
    working_dir: /var/www
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
      - ${FROM_PHP_INI_DIR}/php-${PHP_VERSION}-${APP_ENV}.ini:${TO_PHP_INI_DIR}/php.ini
    networks:
      - default
#      - services

  # app with builded image
  # app:
  #   image: some_image:latest
  #   container_name: ${COMPOSE_PROJECT_NAME}_app
  #   restart: unless-stopped
  #   environment:
  #     DB_HOST: ${COMPOSE_PROJECT_NAME}_mysql
  #     DB_DATABASE: ${MYSQL_DATABASE}
  #     DB_USERNAME: ${MYSQL_USER}
  #     DB_PASSWORD: ${MYSQL_PASSWORD}
  #     REDIS_HOST: ${COMPOSE_PROJECT_NAME}_redis
  #   tty: true
  #   working_dir: /var/www
  #   volumes:
  #     - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
  #     - ${FROM_PHP_INI_DIR}/php-${PHP_VERSION}-${APP_ENV}.ini:${TO_PHP_INI_DIR}/php.ini
  #   networks:
  #     - default
  #     - services


  # Console app example
  # app:
  #   build:
  #     context: .
  #     dockerfile: cli_dockerfile
  #     args:
  #       APP_ENV: ${APP_ENV}
  #       PHP_VERSION: ${PHP_VERSION}
  #       INSTALL_XDEBUG: ${INSTALL_XDEBUG}
  #       INSTALL_PHPREDIS: ${INSTALL_PHPREDIS}
  #       INSTALL_COMPOSER: ${INSTALL_COMPOSER}
  #       INSTALL_MYSQL: ${INSTALL_MYSQL}
  #       INSTALL_ZIP: ${INSTALL_ZIP}
  #       INSTALL_GD: ${INSTALL_GD}
  #       FROM_PHP_INI_DIR: ${FROM_PHP_INI_DIR}
  #       TO_PHP_INI_DIR: ${TO_PHP_INI_DIR}
  #   container_name: ${COMPOSE_PROJECT_NAME}_cli
  #   restart: unless-stopped
  #   tty: true
  #   working_dir: /var/www
  #   volumes:
  #     - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
  #     - ${FROM_PHP_INI_DIR}/php-${PHP_VERSION}-${APP_ENV}-cli.ini:${TO_PHP_INI_DIR}/php.ini
  #   networks:
  #     - default

  #Nginx Service
  webserver:
    image: nginx:alpine
    container_name: ${COMPOSE_PROJECT_NAME}-webserver
    restart: unless-stopped
    tty: true
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
      - ./server/nginx/conf.d/:/etc/nginx/conf.d/
    depends_on:
      - app
    networks:
      - default
#      - services

#  db:
#    image: mysql:${MYSQL_VERSION}
#    container_name: ${COMPOSE_PROJECT_NAME}_mysql
#    restart: unless-stopped
#    tty: true
#    ports:
#      - "${MYSQL_PORT}:${MYSQL_PORT}"
#    environment:
#      MYSQL_DATABASE: ${MYSQL_DATABASE}
#      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#      MYSQL_USER: ${MYSQL_USER}
#      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
#    volumes:
#      - dbdata:/var/lib/mysql/

#   redis:
#     image: redis:latest
#     container_name: ${COMPOSE_PROJECT_NAME}_redis
#     volumes:
#       - redisdata:/data
#     ports:
#       - "6379:6379"
#     networks:
#       - default

#Docker Networks
networks:
  default:
    driver: bridge
#  services:
#    external: true

#Volumes
#volumes:
#  dbdata:
#    driver: local
#  redisdata:
#    driver: local
